body {
    margin: 0;
}

.intestazione {
    background-image: url(img/pattern.png);
    background-size: auto;
    background-position: center;
    background-color:rgb(0, 162, 255);
    color: white;
    font-size: 30px;
}

.contenitore-img {
    width: 100%;
    margin: 0 auto;
}

.tim1 {
    height: 500px;
    background-size: cover;
}

.tim2 {
    height: 500px;
    background-size: cover;
}

section {
    width: 80%;
    margin: 0 auto;
}

footer {
    width: 80%;
    margin: 0 auto;
}

.titolo2 {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: black;
}

.boolean {
    color: aqua;
}

.size-picc {
    font-size: 10px;
}

.sottolineatura {
    background-color: yellow;
}

table {
    width: 100%;
}

td {
    width: 33%;
}

.bluscuro {
    color: white;
    background-color: rgb(0, 102, 255);
}

.bluchiaro {
    background-color: rgb(0, 255, 255);
}

#grigio-footer {
    color: gray;

}

.contenitore1 {
    background-image: url(img/monitor.jpg);
    background-position: 50%;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

.contenitore2 {
    background-image: url(img/graph.jpg);
    background-position: 50%;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 25px;
    text-align: center;
}