body {
    margin: 0;
}

.intestazione {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color:rgb(0, 162, 255);
    color: white;
    font-size: 30px;
}

.titolo2 {
    width: 80%;
    margin: 0 auto;
}

h1 {
    color: black;
}

.boolean {
    color: aqua;
}

.size-picc {
    font-size: 10px;
}

.sottolineatura {
    background-color: yellow;
}

table {
    width: 100%;
}

td {
    width: 33%;
}
.bluscuro {
    color: white;
    background-color: rgb(0, 102, 255);
}

.bluchiaro {
    background-color: rgb(0, 255, 255);
}